@model Gruppeportalen.Areas.PrivateUser.Models.ViewModels.CompleteLocalGroupOverview

@{
ViewBag.Title = "Private User Index";
Layout = "_Layout";
}

<div class="main-container">
    <div class="sidebar">
        @Html.Partial("_PrivateUserSidebar")
    </div>
    <div class="main-content">
        <partial name ="_MyLocalGroupsOverview" model="@Model.UserOverview" />
        <partial name = "_MyPersonsLocalGroupsOverview" model = "@Model.PersonOverview"/>
    </div>
</div>

