@{
ViewBag.Title = "Min side";
Layout = "_Layout";
}

<div class="main-container">
    <div class="sidebar">
        @Html.Partial("_PrivateUserSidebar")
    </div>
    <div>
        <a class="btn btn-primary" asp-area="PrivateUser" asp-controller="MyPage" asp-action="Index">
            <div>Gå til profil</div>
        </a>

        <a class="btn btn-primary" asp-area="PrivateUser" asp-controller="MyLocalGroups" asp-action="Index">
            <div>Gå til mine lokallag</div>
        </a>
    </div>
</div>

