@{
ViewBag.Title = "Min side";
Layout = "_Layout";
}

<div class="main-container">
    <div class="sidebar">
        @Html.Partial("_PrivateUserSidebar")
    </div>
    <div class="button-container">
        <a class="custom-button" asp-area="PrivateUser" asp-controller="MyPage" asp-action="Index">
            Gå til profil
        </a>

        <a class="custom-button" asp-area="PrivateUser" asp-controller="MyLocalGroups" asp-action="Index">
            Gå til mine lokallag
        </a>
    </div>

</div>

