@{
ViewBag.Title = "Private User Index";
Layout = "_Layout";
}

<div class="main-container">
    <div class="sidebar">
        @Html.Partial("_PrivateUserSidebar")
    </div>
    <div class="main-content">
        <h2>Private User Index</h2>
    </div>
</div>

