@model AdminCreator

<form asp-action="AddAdmin" id="adminForm" class="admin-form">
    <div class="form-row">
        <!-- Tekstfelt for e-post -->
        <input type="hidden" class="form-control" asp-for="LocalGroupId">
        <span asp-validation-for="LocalGroupId"></span>

        <input type="text" class="form-control email-input" asp-for="AdminEmail" placeholder="E-postadresse">
        <span asp-validation-for="AdminEmail"></span>

        <!-- Knapp på samme linje -->
        <button type="submit" class="custom-orange-btn">Legg til admin</button>
    </div>
</form>