@model LocalGroup


<form asp-action="Edit">
    <input type="hidden" asp-for="Id">
    <div class="form-group">
        <label asp-for="GroupName"></label>
        <input type="text" class="form-control" asp-for="GroupName">
        <span asp-validation-for="GroupName"></span>
    </div>
    <div class="form-group">
        <label asp-for="Address"></label>
        <input type="text" class="form-control" asp-for="Address">
        <span asp-validation-for="Address"></span>
    </div>
    <div class="form-group">
        <label asp-for="Postcode"></label>
        <input type="text" class="form-control" asp-for="Postcode">
        <span asp-validation-for="Postcode"></span>
    </div>
    <div class="form-group">
        <label asp-for="City"></label>
        <input type="text" class="form-control" asp-for="City">
        <span asp-validation-for="City"></span>
    </div>
    <div class="form-group">
        <label asp-for="County"></label>
        <select asp-for="County" id="countyDropdown" class="form-control">
            <option value="Alle fylker">Alle fylker</option>
            @foreach (var county in ViewBag.Counties as List<string>)
            {
            <option value="@county">@county</option>
            }
        </select>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Lagre endringer</button>
</form>