@*@model IEnumerable<Gruppeportalen.Areas.PrivateUser.Models.Person>*@
@using Microsoft.IdentityModel.Tokens
@model Gruppeportalen.Areas.PrivateUser.Models.ViewModels.PrimaryPersonAndOthers


@{
Layout = "_Layout";
}


    <div class="sidebar">
        @Html.Partial("_PrivateUserSidebar")
    </div>
        
    <div class="main-content">
        <h2>MINE BRUKERE</h2>
        <div class="person-list">
            <div class="add-button-container">
            <a href="@Url.Action("Add", "Persons")" class="btn-add-person">Legg til ny bruker</a>
            </div>
            <div class="cards-container">
                @Html.Partial("_PersonCard", Model.PrimaryPerson)
                @if (!Model.OtherPersons.IsNullOrEmpty())
                {
                    foreach (var person in Model.OtherPersons)
                    {
                        @Html.Partial("_PersonCard", person)
                    }
                }
            </div>
        </div>
    </div>
