@model Gruppeportalen_new.Areas.OrganisationUser.Models.OrganisationUser

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>title</h2>

<h2>title</h2>
<div class="d-flex flex-column justify-content-center align-items-center" style="min-height: 100vh; width: 100%">

    <form method="post" style="width: 50%;">
        <div>
            <label asp-for="OrganisationNumber" class="col-sm-2 col-form-label"></label>
            <input class="form-control" style="width: 100%;" asp-for="OrganisationNumber"/>
            <span asp-validation-for="OrganisationNumber" class="text-danger"></span>
            <br/>
        </div>
        
        <div class="text-center" style="width: 100%;">
            <input type="submit" class="btn btn-primary" value="Add User" />
        </div>
    </form>

    <br/>
    <div class="text-center" style="width: 50%;">
        <a asp-action="Index" class="btn btn-primary">Back to User</a>
    </div>
</div>
