
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Central Organisation Home</h2>

<div>
    <a href="" class="btn btn-primary">Gå til profil</a>
</div>

<div>
    <a asp-controller="Localgroup" asp-action="Index" class="btn btn-primary mt-4">Gå til mine lokallag</a>
</div>