
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="sidebar">
    @Html.Partial("_CentralOrganisationSidebar")
</div>

<h2>Central Organisation Home</h2>

<div>
    <a asp-controller="CentralOrganisation" asp-action="Index" class="btn btn-primary mt-4">Min profil</a>
</div>

<div>
    <a asp-controller="Localgroup" asp-action="Index" class="btn btn-primary mt-4">Gå til mine lokallag</a>
</div>