@using Microsoft.IdentityModel.Tokens
@model List<Gruppeportalen.Areas.PrivateUser.Models.ViewModels.AdminLocalGroupOverview>

<h2>Lokallag jeg er admin for</h2>

@if (Model.IsNullOrEmpty())
{
    <p>Hvis du er admin for noen lokallag, vil de vises her...</p>
}
else
{
    <div class="groupContainer">
        @foreach (var group in Model)
        {
            <a asp-area="PrivateUser" asp-controller="MyLocalGroups" asp-action="AdminGroupOverview"
               asp-route-groupId="@group.LocalGroupId" class="localGroupMiniBox">
                <div>
                    <p>@group.LocalGroupName</p>
                    <p>@group.UserStatus</p>
                </div>
            </a>
        }
    </div>
}



