@model Gruppeportalen.Areas.PrivateUser.Models.ViewModels.PrivateUserLocalGroup

<div>
    <form asp-action="AddMembership" method="post" asp-controller="Search" asp-area="PrivateUser">
        @Html.AntiForgeryToken()
        <partial name="_HiddenLocalGroupIdInput" model="@Model.Group"></partial>
        <div class="form-group row mb-2">
            <div class="col-auto">
                <label for="membershipChoice">Velg medlemskap</label>
            </div>
            <div class="col-auto">
                <select name="membershipTypeChoice" id="membershipChoice" required>
                    <partial name="_MembershipChoices" model="@Model.Group"/>
                </select> 
            </div>
        </div>
        <div class="form-group row mb-2">
            <div class="col-auto">
                <label for="personChoice">Velg person</label>
            </div>
            <div class="col-auto">
                <select name="personChoice" id="personChoice" required>
                    <partial name="_PersonChoice" model="@Model.User"></partial>
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-outline-dark">Gå til betaling</button>
    </form>
</div>