<div class="modal fade" id="editMembershipModal" tabindex="-1" aria-labelledby="editMembershipModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editMembershipModalLabel">Rediger medlemskap</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-area="PrivateUser" asp-controller="MyLocalGroups" asp-action="EditMembershipType" method="post">
                    <input type="hidden" id="editMembershipId" name="Id" />
                    <input type="hidden" id="editMembershipLocalGroupId" name="LocalGroupId"/>
                   
                    
                    <div class="form-group">
                        <label for="editMembershipName">Medlemsnavn</label>
                        <input type="text" class="form-control" name="MembershipName" id="editMembershipName" />
                    </div>
                    <div class="form-group">
                        <label for="editMembershipPrice">Pris</label>
                        <input type="number" class="form-control" name="Price" id="editMembershipPrice" />
                    </div>
                    <div class="form-group">
                        <label for="editMembershipMonth">Måned</label>
                        <input type="text" class="form-control" name="MonthReset" value="" id="editMembershipMonth" readonly/>
                    </div>
                    <div class="form-group">
                        <label for="editMembershipDay">Dag</label>
                        <input class="form-control" type="text" name="DayReset" value="" id="editMembershipDay" readonly/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="custom-blue-btn" data-bs-dismiss="modal">Avbryt</button>
                        <button type="submit" class="custom-orange-btn">Lagre</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
