@using Microsoft.IdentityModel.Tokens
@model List<Gruppeportalen.Areas.PrivateUser.Models.ViewModels.UserLocalGroupOverview>

<h2>Mine lokallag</h2>

@if (Model.IsNullOrEmpty())
{
    <p>There are no local groups connected to your account.</p>
}
else
{
    <div class="groupContainer">
        @foreach (var group in Model)
        {
            <a href="" class="localGroupMiniBox">
                <div>
                    <p>@group.LocalGroupName</p>
                    <p>@group.UserStatus</p>
                </div>
            </a>
        }
    </div>
}



