@using Microsoft.IdentityModel.Tokens
@model List<Gruppeportalen.Areas.PrivateUser.Models.ViewModels.PersonLocalGroupOverview>

<h2>Mine brukeres lokallag</h2>

@if (Model.IsNullOrEmpty())
{
    <p>Hvis du har personer knyttet til din bruker, og de er medlem av lokallag, vil de vises her...</p>
}
else
{
    <div class="groupContainer">
        @foreach (var group in Model)
        {
            <a href="">
                <div class="localGroupMiniBox">
                    <p>@group.LocalGroupName</p>
                </div>
            </a>
        }
    </div>
}