<div class="sidebar">
    <ul>
        <li><a asp-area="PrivateUser" asp-controller="Home" asp-action="Index">Min Side</a></li>
        <li><a asp-area="PrivateUser" asp-controller="Mypage" asp-action="Index">Min Profil</a></li>
        <li><a asp-area="PrivateUser" asp-controller="Persons" asp-action="Index">Mine Brukere</a></li>
    </ul>
</div>