@model NormalUser

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>title</h2>

<div>

    <form asp-action="Add" method="post">
        <div>
            <label asp-for="Firstname" class="">First name</label>
            <input type="text" asp-for="Firstname"/>
            <span asp-validation-for="Firstname" class="text-danger"></span>
            <br/>
        </div>
        
        <div>
            <label asp-for="Lastname" class="col-sm-2 col-form-label"></label>
            <input asp-for="Lastname"/>
            <span asp-validation-for="Lastname" class="text-danger"></span>
            <br/>
        </div>

        <div>
            <label asp-for="DateOfBirth" class="col-sm-2 col-form-label"></label>
            <input asp-for="DateOfBirth"/>
            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            <br/>
        </div>

        <div>
            <label asp-for="Telephone" class="col-sm-2 col-form-label"></label>
            <input asp-for="Telephone"/>
            <span asp-validation-for="Telephone" class="text-danger"></span>
            <br/>
        </div>

        <div>
            <label asp-for="Address" class="col-sm-2 col-form-label"></label>
            <input asp-for="Address"/>
            <span asp-validation-for="Address" class="text-danger"></span>
            <br/>
        </div>
        
        <div>
            <label asp-for="City" class="col-sm-2 col-form-label"></label>
            <input asp-for="City"/>
            <span asp-validation-for="City" class="text-danger"></span>
            <br/>
        </div>

        <div>
            <label asp-for="Postcode" class="col-sm-2 col-form-label"></label>
            <input asp-for="Postcode"/>
            <span asp-validation-for="Postcode" class="text-danger"></span>
            <br/>
        </div>

        <div class="text-center" style="width: 100%;">
            <input type="submit" class="btn btn-primary" value="Add User" />
        </div>
    </form>

    <br/>
    <div class="text-center" style="width: 50%;">
        <a asp-action="Index" class="btn btn-primary">Back to User</a>
    </div>
</div>