@model AdminCreator

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>title</h2>

<form asp-action="AddAdmin">
    <div class="form-group">
        <label asp-for="LocalGroupId"></label>
        <input type="text" class="form-control" asp-for="LocalGroupId" value="@Model.LocalGroupId" readonly>
        <span asp-validation-for="LocalGroupId"></span>
    </div>
    <div class="form-group">
        <label asp-for="AdminEmail"></label>
        <input type="text" class="form-control" asp-for="AdminEmail">
        <span asp-validation-for="AdminEmail"></span>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Legg til admin</button>
</form>

<p>Local group id: @Model.LocalGroupId</p>
