@model Gruppeportalen.Areas.CentralOrganisation.Models.ViewModels.EditLocalGroupViewModel

<div class="main-container">

     @{
         ViewBag.Title = "Rediger lokallag";
         Layout = "_Layout";
     }

<div class="sidebar">
    @Html.Partial("_CentralOrganisationSidebar")
</div>
<div class="center-container">
    <h2>Rediger Lokallag</h2>
</div>
<partial name="_LocalGroupEdit" model="@Model.LocalGroup"/>

<h2>Admin(s)</h2>
<partial name="_LocalGroupAdminOverview" model="@Model.LocalGroupAdmins"/>

<h2>Legg til admin</h2>
<partial name="_LocalGroupAddAdmin" model="@Model.AdminCreator"/>
</div>