@model Gruppeportalen.Areas.CentralOrganisation.Models.ViewModels.EditLocalGroupViewModel

@{
    ViewBag.Title = "Rediger lokallag";
    Layout = "_Layout";
}

<h2>Rediger Lokallag</h2>

<partial name="_LocalGroupEdit" model="@Model.LocalGroup"/>

<h2>Admins</h2>
<partial name="_LocalGroupAdminOverview" model="@Model.LocalGroupAdmins"/>

<h2>Legg til admin</h2>
<partial name="_LocalGroupAddAdmin" model="@Model.AdminCreator"/>
