@model List<LocalGroup>

@{
    ViewBag.Title = "Mine Lokallag";
    Layout = "_Layout";
}

<div class="sidebar">
    @Html.Partial("_CentralOrganisationSidebar")
</div>
<div class="center-container">
<h2>Mine lokallag</h2>
</div>

<div class="groupContainer">
    @foreach (var group in Model)
    {   
        <div class="localGroupBox p-3 m-2">
            <partial name="_LocalgroupOverviewPartial" model="group"/>
        </div>
    }
</div>

<div class="center-container">
    <a asp-action="Add" class="add-local-group-btn">Legg til nytt lokallag</a>
</div>
