@model List<LocalGroup>
<link rel="stylesheet" href="~/css/informationcard.css" />

@{
    ViewBag.Title = "Mine Lokallag";
    Layout = "_Layout";
}

<div class="sidebar">
    @Html.Partial("_CentralOrganisationSidebar")
</div>
<div class="main-container">
<h2>Mine lokallag</h2>
</div>


<div class="cards-container">
    @foreach (var group in Model)
    {
        <div class="card">
            <partial name="_LocalgroupOverviewPartial" model="group"/>
        </div>
    }
</div>

<div class="find-localgroup-container">
    <a asp-action="Add" class="add-local-group-btn">Legg til nytt lokallag</a>
</div>
