@model List<LocalGroup>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Local group</h2>

<div class="groupContainer">
    @foreach (var group in Model)
    {   
        <div class="localGroupBox p-3 m-2">
            <partial name="_LocalgroupOverviewPartial" model="group"/>
        </div>
    }
</div>

<div>
    <a asp-action="Add" class="btn btn-primary">Legg till nytt lokallag</a>
</div>
