@model PrivateUser

@{
ViewBag.Title = "Legg til informasjon";
Layout = "_Layout";
}

<h2 class="centered-title">Vi trenger litt flere detaljer om deg før du får tilgang til profilsiden din...</h2>

<div class="main-container">
    <form asp-action="Index" method="post" class="custom-form">
        <div class="form-group">
            <input type="hidden" asp-for="Id" />
        </div>
        
        <div class="form-group">
            <label asp-for="Firstname" class="form-label">Fornavn</label>
            <input type="text" asp-for="Firstname" class="form-control" />
            <span asp-validation-for="Firstname" class="text-danger"></span>
        </div>
        
        <div class="form-group">
            <label asp-for="Lastname" class="form-label">Etternavn</label>
            <input asp-for="Lastname" class="form-control" />
            <span asp-validation-for="Lastname" class="text-danger"></span>
        </div>
        
        <div class="form-group">
            <label asp-for="DateOfBirth" class="form-label">Fødselsdato</label>
            <input asp-for="DateOfBirth" type="date" class="form-control" />
            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
        </div>
        
        <div class="form-group">
            <label asp-for="Telephone" class="form-label">Telefonnummer</label>
            <input asp-for="Telephone" type="tel" class="form-control" />
            <span asp-validation-for="Telephone" class="text-danger"></span>
        </div>
        
        <div class="form-group">
            <label asp-for="Address" class="form-label">Adresse</label>
            <input asp-for="Address" class="form-control" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
        
        <div class="form-group">
            <label asp-for="City" class="form-label">By</label>
            <input asp-for="City" class="form-control" />
            <span asp-validation-for="City" class="text-danger"></span>
        </div>
        
        <div class="form-group">
            <label asp-for="Postcode" class="form-label">Postnummer</label>
            <input asp-for="Postcode" class="form-control" />
            <span asp-validation-for="Postcode" class="text-danger"></span>
        </div>
        
        <div class="text-center mt-3">
            <button type="submit" class="custom-save-changes-button">Lagre</button>
        </div>
    </form>
    
    <div class="text-center mt-3">
        <a asp-action="Index" asp-controller="Home" class="custom-blue-btn">Tilbake til brukere</a>
    </div>
</div>
