<div class="sidebar">
    <ul>
        <li><a asp-area="CentralOrganisation" asp-controller="Home" asp-action="Index" class="active">Min Side</a></li>
        <li><a asp-area="CentralOrganisation" asp-controller="CentralOrganisation" asp-action="Index">Profil</a></li>
        <li><a asp-area="CentralOrganisation" asp-controller="Localgroup" asp-action="Index">Mine Lokallag</a></li>
    </ul>
</div>

<link rel="stylesheet" href="~/css/sidebar.css" />