<div class="sidebar">
    <ul>
        <li>
            <a asp-area="CentralOrganisation"
               asp-controller="CentralOrganisation"
               asp-action="Index"
               class="@(ViewContext.RouteData.Values["Controller"]?.ToString() == "CentralOrganisation" &&
               ViewContext.RouteData.Values["Action"]?.ToString() == "Index" ? "active" : "")">
                Profil
            </a>
        </li>
        <li>
            <a asp-area="CentralOrganisation"
               asp-controller="Localgroup"
               asp-action="Index"
               class="@(ViewContext.RouteData.Values["Controller"]?.ToString() == "Localgroup" &&
               ViewContext.RouteData.Values["Action"]?.ToString() == "Index" ? "active" : "")">
                Mine Lokallag
            </a>
        </li>
    </ul>
</div>

<link rel="stylesheet" href="~/css/sidebar.css" />