<div class="sidebar">
    <ul>
        <li>
            <a asp-area="PrivateUser" asp-controller="MyPage" asp-action="Index"
               class="@(ViewContext.RouteData.Values["Controller"].ToString() == "MyPage" ? "active" : "")">
                Min Profil
            </a>
        </li>
        <li>
            <a asp-area="PrivateUser" asp-controller="Persons" asp-action="Index"
               class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Persons" ? "active" : "")">
                Mine Brukere
            </a>
        </li>
        <li>
            <a asp-area="PrivateUser" asp-controller="MyLocalGroups" asp-action="Index"
               class="@(ViewContext.RouteData.Values["Controller"].ToString() == "MyLocalGroups" ? "active" : "")">
                Mine Lokallag
            </a>
        </li>
        <li>
            <a asp-area="PrivateUser" asp-controller="Payment" asp-action="Index"
               class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Payment" ? "active" : "")">
                Betalinger
            </a>
        </li>
    </ul>
</div>

<link rel="stylesheet" href="~/css/sidebar.css" />