<div class="navbar">
    <ul>
        <li><a asp-area="PrivateUser" asp-controller="Home" asp-action="Index" class="active">Min Side</a></li>
        <li><a asp-area="PrivateUser" asp-controller="MyPage" asp-action="Index">Min Profil</a></li>
        <li><a asp-area="PrivateUser" asp-controller="Persons" asp-action="Index">Mine Brukere</a></li>
        <li><a asp-area="PrivateUser" asp-controller="MyLocalGroups" asp-action="Index">Mine Lokallag</a></li>
    </ul>
    
</div>

<link rel="stylesheet" href="~/css/topbar.css" />