@model Gruppeportalen_new.Areas.NormalUser.Models.NormalUser

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}



<h2>title</h2>
<div class="d-flex flex-column justify-content-center align-items-center" style="min-height: 100vh; width: 100%">

    <form method="post" style="width: 50%;">
        <div>
            <label asp-for="Firstname" class="col-sm-2 col-form-label">First name</label>
            <input class="form-control" style="width: 100%;" asp-for="Firstname"/>
            <span asp-validation-for="Firstname" class="text-danger"></span>
            <br/>
        </div>
        
        <div>
            <label asp-for="Lastname" class="col-sm-2 col-form-label"></label>
            <input  class="form-control" style="width: 100%; height: 150px;" asp-for="Lastname"/>
            <span asp-validation-for="Lastname" class="text-danger"></span>
            <br/>
        </div>

        <div>
            <label asp-for="DateOfBirth" class="col-sm-2 col-form-label"></label>
            <input  class="form-control" style="width: 100%; height: 150px;" asp-for="DateOfBirth"/>
            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            <br/>
        </div>

        <div>
            <label asp-for="Country" class="col-sm-2 col-form-label"></label>
            <input  class="form-control" style="width: 100%; height: 150px;" asp-for="Country"/>
            <span asp-validation-for="Country" class="text-danger"></span>
            <br/>
        </div>

        <div class="text-center" style="width: 100%;">
            <input type="submit" class="btn btn-primary" value="Add User" />
        </div>
    </form>

    <br/>
    <div class="text-center" style="width: 50%;">
        <a asp-action="Index" class="btn btn-primary">Back to User</a>
    </div>
</div>
